/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global Styles
------------------------------*/

html {
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #322323;
}

a:hover {
    color: grey;
}

h1 {
    line-height: 1;
}

h1,h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    margin: 0;
    text-shadow: 1px 1px 4px grey;
}

.content-wrap {
    width:800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
------------------------------*/

header {
    background-color: #36404b;
}

/* Projects
------------------------------*/

.projects {
    background-color: #9aacba;
    padding: 2px;
}

.projects .btn {
    color: grey;
    background-color: #36404b ;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}

.projects .btn:hover {
    background-color: rgba(54, 64, 75, 80%);
}

.project-item {
    overflow: hidden;
}

.project-item img {
    float: left;
    margin: 20px;
}

.project-item h3 {
    margin-top: 0;
}
/* Work Experience
------------------------------*/

.work-experience {
    background-color: #2f2f32;
}

/* Education
------------------------------*/

.education {
    background-color: #9aacba;
}

/* Contact Information
------------------------------*/

footer {
    background-color: #36404b;
}